{% extends "base.html" %}


{% block title %}Signup{% endblock %}

{% block content %}
    <main class="container signup-section">
        <div class="section-content">
            <h2>Create an account</h2>

            <form method="POST" action="/create">


                <div class="form-group">
                    {{ form.first_name.label }}
                    {{ form.first_name }}
                </div>
                <div class="form-group">
                    {{ form.last_name.label }}
                    {{ form.last_name }}
                </div>
                
                <div class="form-group">
                    {{ form.password.label }}
                    {{ form.password }}
                </div>
                <div class="form-group">
                    {{ form.username.label }}
                    {{ form.username }}
                </div>
                <div class="form-group">
                    {{ form.middel_name.label }}
                    {{ form.middel_name }}
                </div>
                <div class="form-group">
                    {{ form.birthdate.label }}
                    {{ form.birthdate }}
                </div>



                {{ form.submit(class="btn-primary") }}
            </form>
        </div>
    </main>
{% endblock %}